:root {
  --color-dark: rgb(30,30,30);
  --color-accent: #0ff;
}

body {
  margin: 0;
  background-color: var(--color-dark);
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}

body * {
  z-index: -1;
  overflow-x: hidden;
}

.terminal {
  font-size: 18px;
  width: 800px;
  max-width: 80vw;
  min-height: 90vh;
  margin: 0 auto;
  /* border-right: solid 1px #fff; */
  padding-top: 24px;
  padding-bottom: 128px;
}

.exp-item > p {
  margin: 0;
}

.exp-tags {
  padding: 0.5em 0 1.5em 0.6em;
  /* padding-top: 0.5em;
  padding-bottom: 1.5em; */
}

.intro h1 {
  font-size: 48px;
}

.intro-edu {
  color: var(--color-accent);
}

a.intro-edu {
  text-decoration: none;
  padding: 0 2px;
  border-radius: 2px;
  transition: 0.3s;
}

a.intro-edu:hover {
  background-color: var(--color-accent);
  color: #000;
}

.intro-exp {
  color: var(--color-accent);
}

.intro-cont {
  color: var(--color-accent);
}

a.intro-cont {
  text-decoration: none;
  padding: 0 2px;
  border-radius: 2px;
}

a.intro-cont:hover {
  color: #000;
  background-color: var(--color-accent);
  transition: 0.3s;
}

a.intro-exp {
  text-decoration: none;
  padding: 0 2px;
  border-radius: 2px;
}

a.intro-exp:hover {
  color: #000;
  background-color: var(--color-accent);
  transition: 0.3s;
}

.o-chunk {
  opacity: 0;
}

.fade-in {
  animation: fadeInAnim 0.5s forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes fadeInAnim {
  /* from {opacity: 0;} */
  100% {opacity: 1;}
}

.intro-option {
  padding: 0 2px;
  border-radius: 2px;
  transition: 0.3s;
}

.intro-option:hover {
  background-color: #ddd;
  color: #000;
}

.option-clicked {
  background-color: #fff;
  color: #000;
}

.clicked-sibling {
  transition: 0.1s;
  opacity: 0.4;
}

.prompt {
  font-size: 1.5em;
  font-weight: bold;
}

#navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px #aaa solid;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -51px;
  transition: top 0.3s;
  z-index: 1;
}

#navbar > a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

#headshot-blurb {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#headshot {
  margin-right: 20px;
  width: 100%;
  height: auto;
  border-left: 3px solid #fff;
}

.project {
  display: flex;
  margin-bottom: 10px;
  min-height: 25vh;
  background-color: rgb(50,50,50);
  padding: 10px;
  border-radius: 5px;
  z-index: 0;
  transition: 0.2s;
}

.project * {
  z-index: 1;
}

.proj-img {
  width: 50%;
  height: auto;
  border-left: 3px solid #fff;
  align-self: center;
}

.proj-title {
  margin: 5px 0;
  font-size: 1.25em;
}

.proj-details { 
  margin-left: 10px;
  max-width: 50%;
}

.proj-links {
  margin: 0;
}

.proj-link {
  color: var(--color-accent);
  border-radius: 2px;
  margin: 0;
}

a.proj-link {
  text-decoration: none;
}

a.proj-link:hover {
  color: #000;
  background-color: var(--color-accent);
  transition: 0.3s;
}



footer {
  display: flex;
  justify-content: center;
}



@media (max-width: 600px) and (orientation:portrait) {
  #headshot-blurb {
    flex-direction: column;
  }
  #headshot {
    max-width: 200px;
    margin: 0;
  }
  .project {
    flex-direction: column;
    align-items: center;
  }
  .proj-img {
    width: 95%;
  }
}