body {
  margin: 0;
  background-color: #111;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}

body * {
  z-index: -1;
  overflow-x: hidden;
}

.terminal {
  font-size: 18px;
  width: 800px;
  max-width: 80vw;
  margin: 0 auto;
  /* border-right: solid 1px #fff; */
  padding-top: 24px;
  padding-bottom: 128px;
}

.exp-item > p {
  margin: 0;
}

.exp-tags {
  padding: 0.5em 0 1.5em 0.6em;
  /* padding-top: 0.5em;
  padding-bottom: 1.5em; */
}

.intro h1 {
  font-size: 48px;
}

.intro-opt-marker {
  color: #f0f;
}

.intro-edu {
  color: #f0f;
}

.intro-exp {
  color: #ff0;
}

.intro-cont {
  color: #0ff;
}

a.intro-cont {
  text-decoration: none;
}

a.intro-cont:hover {
  color: #000;
  background-color: #0ff;
  transition: 0.3s;
}

.o-chunk {
  opacity: 0;
}

.fade-in {
  animation: fadeInAnim 0.5s forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes fadeInAnim {
  /* from {opacity: 0;} */
  100% {opacity: 1;}
}

.intro-option {
  transition: 0.3s;
}

.intro-option:hover {
  background-color: #fff;
  color: #000;
}

.option-clicked {
  background-color: #fff;
  color: #000;
}

.clicked-sibling {
  transition: 0.1s;
  opacity: 0.4;
}

#navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px #aaa solid;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -51px;
  transition: top 0.3s;
  z-index: 1;
}

#navbar > a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

#headshot-blurb {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#headshot {
  margin-right: 20px;
  width: 100%;
  height: auto;
}

@media (max-width: 600px) and (orientation:portrait) {
  #headshot-blurb {
    flex-direction: column;
  }
  #headshot {
    max-width: 200px;
    margin: 0;
  }
}